/* Imported Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');
/* Variable */
:root{
--menubuttonwidth: %;
--cssfileversion: "0386";
--lightgrey:#e5e5e5; /* Light grey color for use across the site */
--darkgrey:#555555; /* Dark grey color for use across the site */
--bgroundshade:#378a42ff;; /* Opaque background */
}
*{
margin: 0px;
padding: 0px;
border: 0px;
}
body{
font-family: Lato;
background-color: var(--bgroundshade);
}
div.bground{
width: 100%;
height: 100%;
/* rem background-image:  URL("http://www.warksar.org.uk/wp-content/uploads/2018/01/IMGP6198.jpg"); */
background-image: URL("https://scportfolio.blob.core.windows.net/$web/warksar/assets/images/imgwarksar001.jpg"); 
background-color: var(--bgroundshade);
z-index: -1;
padding: 0px;
position: fixed;
background-size: cover;
margin: 0px;
/* animation-name: hero-zoom;*/
/* animation-duration: 5s;*/
/* animation-fill-mode: forwards;*/
background-position: center center;*/
}
@keyframes hero-zoom{
 from{
    transform: scale(1);
    opacity: 0.6;

  }
  to{
    transform: scale(1.1);
    opacity: 0.8;
  }
}
.navbar{
margin-bottom: 0;
border: 0;
width: 100%;
background-color:  rgba(0,0,0,.9);
position: fixed;
top: 0;
height: 100px;
z-index: 1;
}
.navbar .navbar-toggler{
border: 0;
}
.navbar navbar-nav a{
font-weight: bold;
}
.logoleft{
border-radius: 50%;
width: 80px;
padding: 0;
margin: 0 10px 0 0;
border-width: 0;
}
footer{
position: fixed;
bottom: 0;
width: 100%;
text-align: center;
background-color: var(--darkgrey);
opacity: 0.8;
height: 120px;
}
.social-networks{
text-align: center;
margin: 5px 0;
}
.social-networks i{
font-size: 160%;
margin: 0 1% 0;
padding: 3px 5% 0;
color: #ffffffff;
}
.social-networks li{
display: inline;
}
footer p{
color: #ffffffff;
margin: 0;
}
.enquiry{
font-size: 120%;
font-weight: 500;
}
.header-lg{
font-size: 130%;
font-weight: 500;
margin: 0;
padding: 0;
line-height: 100%;
text-align: center;
}
.header-sm{
font-size: 90%;
font-weight: 300;
margin: 0 0 0 5px;
padding: 0;
line-height: 100%;
letter-spacing: 1px;
text-align: center;
}
.footer-sm{
font-size: 90%;
color: #aaa;
}
#CSSSerNo::before{
content: var(--cssfileversion);
}
#photo img, #photo iframe{
width: 100%;
margin: 0px;
}
#photo{
clear: both;
line-height: 0px;
column-count: 5;
column-gap: 0;
padding: 0 0 90px 0;
}
#Gallery{
}
.MenuSectionTitle{
text-align: center;
/* background-color: var(--bgroundshade); */
color: #ffffffff;
margin: 0;
font-size: 160%;
font-weight: 800;
letter-spacing: 3px;
width: 100%;
line-height: 100%;
padding: 2%;
}
header{
overflow: hidden;
margin: 0;
}
div.Home-CTA{
/* height: 180px; */
/* vertical-align: middle; */
/* animation-name: CTA-zoom; */
/* animation-duration: 15s; */
/* animation-fill-mode: forwards; */
/* max-width: 800px; */

width: 100%;
height: 100%;
/* rem background-image:  URL("http://www.warksar.org.uk/wp-content/uploads/2018/01/IMGP6198.jpg"); */
background-image: URL("https://scportfolio.blob.core.windows.net/$web/warksar/assets/images/imgwarksar001.jpg"); 
background-color: var(--bgroundshade);
padding: 0px;
position: fixed;
background-size: cover;
margin: 0px;
/* animation-name: hero-zoom;*/
/* animation-duration: 5s;*/
/* animation-fill-mode: forwards;*/
background-position: center center;*/
}
.dropdown-menu{
position: static;
}
section.ContentPage-STD{
background-color: #999999ee;
border-width: 5px;
border-style: solid;
margin: 20px;
padding: 20px;
border-color: #378a5b88;
border-radius: 20px;
color: #054405ff;
font-size: 130%;
font-weight: 700;
letter-spacing: 1px;
}
#AllTerrainFoot{
margin: 0;
float: left;
width: 100%;
object-fit: cover;
}
#imgwarksar030-01{
margin: 0;
float: left;
max-height: 400px;
}
#Home{
width: 100%;
}
div.MenuComponent{
padding: 0 0 0 0;
margin-top: 100px;
margin-bottom: 120px;
}
div.InnerText{
padding: 20px;
width: 60%;
background-color: var(--darkgrey);
opacity: 0.8;
float: left;
color: #ffffff;
}
.gallery-anchor{
position: relative;
display: block;
}
.gallery-overlay{
position: absolute;
bottom: 0px;
left: 0px;
white-space: nowrap;
letter-spacing: 1px;
font-weight: 800;
color: #ffffffdd;
padding: 3px;
}
/* Styling for anchors that call Javascript */
.jsclick{
color: #555555;
}
.Content-Container{
width: 100%;
height: 300px;
overflow: hidden;
border: collapse;
}
.Content-Image{
width: 40%;
}
.wsr-content-text{
float: left;
display: flex;
flex-wrap: wrap;
align-content: center;
padding: 20px;
color: #fff;
font-size: 120%;
}
.wsr-content-text p{
color: white;
padding: 10px;
font-weight: 500;
letter-spacing: 2px;
opacity: 0.8;
display: inline-block;
}
/* Content Row for Warksar Website */
.wsr-row{
max-width: 1400px;
background-color: #555555aa;
padding: 5px;
float: left;
border: 4px solid #555555ff;
}
/* Left Hand Content Image for Warksar Website */
.wsr-content-img-l{
object-fit: cover;
}
/* Warksar Right Hand Text Box */
.wsr-content-text-r{
width: 70%;
align-items: center;
}
.wsr-content-img{
object-fit: cover;
width: 100%;
height: 100%;
}
.wsr-content-img-r{
width: 30%;
float: left;
display: flex;
align-items: center;
}
/* Warksar Left Hand Text Box */
.wsr-content-text-l{
width: 50%;
align-items: center;
}
/* Warksar larger content text for emphasis */
.wsr-content-text-lg{
font-size: 150%;
display: inline-block;
}
/* Warksar ull width text section. */
.wsr-content-text-fl{
width: 100%;
}
.wsr-content-text-fc{
width: 100%;
text-align: justify;
font-size: 120%;
font-weight: 1000;
letter-spacing: 3px;
line-height: 120%;
color: #fff;
}
/* Warksar Style for Key Images on Items */
.wsr-content-item-imgbox{
float: left;
min-width: 200px;
min-height: 200px;
max-width: 200px;
max-height: 200px;
margin-left: auto;
object-fit: cover;
}
/* Warksar Title for Items */
.wsr-content-item-title{
text-align: center;
color: #ffffffbb;
font-size: 150%;
font-weight: 800;
letter-spacing: 3px;
line-height: 100%;

display: flex;
align-items: center;
}
/* Warksar Item Text */
.wsr-content-item-text{
text-align: justify;
color: #ffffffff;
font-size: 110%;
font-weight: 700;
letter-spacing: 2px;
line-height: 110%;

display: flex;
align-items: center;

min-width: 600px;
min-height: 200px;
max-width: 600px;
max-height: 200px;
margin-right: auto;
flex-direction: column;
}
.wsr-content-item{
margin-bottom: 20px;
background-color: var(--bgroundshade);
}
.wsr-content-text p{
text-align: justify;
color: #ffffffff;
font-size: 100%;
font-weight: 500;
letter-spacing: 2px;
line-height: 100%;
}
section.wsr-content{
display: inline-block;
width: 100%;
}
.wsr-cta{
color: #ffffff;
float: left;
font-size: 200%;
height: 300px;
}
.wsr-cta-img{
width: 200px;
display: flex;
}
.wsr-cta-img img{
height: 170px;
width: 170px;
margin: auto;
}
.wsr-cta-row{
margin: 10% auto;
width: fit-content;
display: flex;
background-color: #00000088;
border-radius: 20px;
}
.wsr-cta-text{
width: 500px;
text-align: left;
    color: #ffffffff;
    font-size: 180%;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 100%;
    display: flex;
    min-width: 600px;
    min-height: 300px;
    max-width: 600px;
    max-height: 300px;
flex-direction: column;
}
.wsr-cta-actions{

    color: #ffffffff;
    font-size: 150%;
    font-weight: 1000;
    letter-spacing: 2px;
    line-height: 100%;
    display: flex;
    min-width: 250px;
    min-height: 300px;
    max-width: 250px;
    max-height: 300px;
flex-direction: column;
}
.wsr-cta p{
margin: auto 0 auto 10px;
}
.wsr-content-item-text p{
margin: auto 0;
}
.wsr-content-item-img-l{
float: left;
min-width: 200px;
min-height: 200px;
max-width: 200px;
max-height: 200px;
margin-left: auto;
}
.wsr-content-item-title p{
width: 100%;
}
.wsr-content-item-text a{
color: #000055;
}
.wsr-content-img-frame{
padding: 0px;
border-radius: 5px;
}
.wsr-content-text-frame{
width: 70%;
}
.wsr-container{
background-color: #555555aa;
padding: 10px;
border: 4px solid #555555ff;
margin-bottom: 20px;
}
.wsr-container-carousel{
}
.wsr-outer-container-timeline{
box-sizing: border-box;
background-color: #474e5d;
}
.wsr-container-timeline::after{
content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.wsr-container-timeline{
padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
wsr-timeline-left{
left: 0;
}
.wsr-timeline-right{
left: 50%;
}
.wsr-timeline-left::before{
content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
.wsr-timeline-right::before{
content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
.wsr-timeline-right::after{
  left: -16px;
}
.wsr-timeline-content{
padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.wsr-timeline::after{
content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.wsr-timeline{
position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
/* Warksar Covid 19 Symbol */
#imgwarksarcovid-01{
max-height: 150px;
}
/* Warksar map of Warwickshire */
#warksmap-01{
max-width: 250px;
}
#alsar-logo{
width: 100%;
height: 100%;
object-fit: scale-down;
}
#imgwarksar028-01{
width: 400px;
}
#imgwarksar029-01{
max-wdith: 300px;
}
#imgwarksar030-02{
max-height: 250px;
}
#imgitem001{
background: url(http://www.warksar.org.uk/wp-content/uploads/2018/01/IMGP6198.jpg);
width: 200px;
height: 200px;
background-size: cover;
}
#imgitem002{
background: url(http://www.warksar.org.uk/wp-content/uploads/2017/01/logo.png);
width: 200px;
height: 200px;
background-size: 130px;
background-position: center center;
background-repeat: no-repeat;
}
#imgitem003{
background: url(https://www.lowlandrescue.org/images/lowland-rescue-lozenge1.png);
width: 200px;
height: 200px;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
}
#imgitem004{
background: url(http://www.warksar.org.uk/wp-content/uploads/2020/10/Team-2019_09-copy2.jpg);
width: 200px;
height: 200px;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
}
#imgitem005{
background: url(http://www.warksar.org.uk/wp-content/uploads/2018/10/water-rescue01-e1538595542220.jpg);
width: 200px;
height: 200px;
background-size: cover/contain/px;
background-repeat: no-repeat;
background-position: center center;
}
#imgitem010{
background: url(http://www.warksar.org.uk/wp-content/uploads/2018/02/nbd01.jpg);
width: 200px;
height: 200px;
background-size: cover/contain/px;
background-repeat: no-repeat;
background-position: center center;
}
#imgitem006{
background: url(http://www.warksar.org.uk/wp-content/uploads/2018/01/IMGP6258.jpg);
width: 200px;
height: 200px;
background-size: cover/contain/px;
background-repeat: no-repeat;
background-position: center center;
}
#warwickshire-police-logo-warwickshirepolice{
object-fit: contain;
}
/* Warksar Donate Image */
#btn_donateCC_LG-01{
image-fit: contain;
}
#warwickshire-police-logo-policecard{
object-fit: contain;
}
/* Bootstrap Card Customisation */
.card{
background-color: #555555aa;
padding: 5px;
margin: 20px auto;
float: left;
border: 4px solid #555555ff;
}
/* Bootstrap Card Image Customisation */
.card-img-top{
object-fit: cover;
height: 200px;
}
.card-body{
height: 250px;
}
.card-body span{
font-weight: 800;
font-size: 90%;
}
/* Bootstrap button customisation */
.card-text a{
width: 200px;
}
.card-text{
color: #fff;
height: 200px;
}
/* Complements within Bootstrap card */
.card-link{
height: 100px;
text-align: center;
}
.card-link a{
width: 80%;
}
.card-title{
color: #fff;
font-weight: 900;
}
.carousel-inner > .item > img, .carousel-inner > .{
width: 70%;
margin: auto;
}
/* Equivalent to Bootstrap Extra Extra Large */
@media screen and (min-width: 1400px){
#photo {
column-count: 4;
}
}
/* Equivalent to Bootstrap Extra Large */
@media screen and (max-width: 1399px){
#photo {
    column-count: 3;
  }
}
/* Equivalent to Bootstrap Large */
@media screen and (max-width: 1199px){
#photo {
    column-count: 3;
  }

#CTA-logo{
display: none;
}
}
/* Equivalent to Bootstrap Medium */
@media screen and (max-width: 991px){
div.dropdown-menu{
position: sticky;
}
}
/* Equivalent to Bootstrap Small */
@media screen and (max-width: 767px){
}
/* Equivalent to Bootstrap X-Small */
@media screen and (max-width: 575px){
#photo {
    column-count: 2;
  }

ul.Home-CTA li{
text-align: center;
letter-spacing: 1px;
}

#ALSAR-logo, #Police-image, #Warksmap {
width: 100%;
margin: 0 ;
}

section.AnnReport img{
width: 98%;
margin: auto;
float: none;
}

section.AnnReport {
width: 100%;
padding: 0;
margin: 0;
border-style: none;
border-radius: 0;
text-align: center;
}
}
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
